<nav class="side" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div>
      <ul>
        <li *ngFor="let item of navList">
          <span  class="list-item" (click)="scrollTo(item.id)">
            <span class="name">{{ item.name }}</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
